@font-face {
    font-family: pbold;
    src: url(../assets/PeydaWeb-Bold.woff);
}
@font-face {
    font-family: pmedium;
    src: url(../assets/PeydaWeb-Medium.woff);
}
@font-face {
    font-family: pregular;
    src: url(../assets/PeydaWeb-Regular.woff);
}
body {
    width: 100%;
    padding: 0px;
    margin: 0px;
    direction: rtl;
    background-color:#ffffff; 
    min-height: 100vh;
}
.container {
    font-variant-ligatures: none;
    font-family: pmedium;
    line-height: 1.5;
    font-size: 1.25rem;
    color: #191919;
}
.catalog-header {
    text-align: center;
    color: white;
    font-size: 30px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    width: 100%;
    left: 0px;
    top: 0px;
    height: 600px;
    z-index: -1;
    background: rgb(245,22,99);
    background: linear-gradient(117deg, rgba(245,22,99,1) 0%, rgba(159,10,103,1) 0%, rgba(120,5,105,1) 47%, rgba(82,0,106,1) 78%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.catalog-wraper {
    display: flex;
    flex-flow: row;
    gap: 30px;
    position: relative;
}
.catalog-box {
    overflow: hidden;
    flex: auto;
    padding: 5px;
    position: relative;
    box-sizing: border-box;
    width: 330px;
    height: 330px;
    min-width: 300px;
    max-width: 100%;
    border-radius: 50px;
    padding: 0px 10px 3px 5px;
    bottom: 0;
    background: rgb(0, 0, 0);
    background-color: rgba(255, 255, 255, 40%);
    transition: .5s ease;
    opacity: 0.9;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    background: linear-gradient(130deg, rgba(255,255,255,0.4) 10%, rgba(255,255,255,0.15) 79%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 16%);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255,25%);
}
.catalog-wraper div:nth-child(2) {
    min-width: 450px;
  }
.catalog-text-h1 {
    font-family: pregular;
    font-size: 90px;
    transform: scaleX(0.969343);
    position: relative;
    white-space: pre;
    cursor: text;
    transform-origin: 0% 0%;
    margin: 0px;
    color: #feda15;
}
.catalog-text-h5 {
    font-family: pregular;
    padding: 25px;
    margin: 0px;
    font-size: 40px;
    white-space: pre-wrap;
}
.catalog-text-h3 {
    -webkit-transform: rotate(-21deg) scaleX(1.33374);
    -moz-transform: rotate(-21deg) scaleX(1.33374);
    -ms-transform: rotate(-21deg) scaleX(1.33374);
    -o-transform: rotate(-21deg) scaleX(1.33374);
    transform: rotate(-21deg);
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    -o-transform-origin: 0 0;
    transform-origin: 0 0;
    position: absolute;
    color: #FEDA15;
    top: 46%;
    right: 0px;
    left: 0px;
    padding-right: 45%;
}
.text-scaling{
    display: inline-block;
  transform: scale(1, 1.5);
  /* Safari and Chrome */
  -webkit-transform: scale(1, 1.5);
  /* Firefox */
  -moz-transform: scale(1, 1.5);
  /* IE 9+ */
  -ms-transform: scale(1, 1.5);
  /* Opera */
  -o-transform: scale(1, 1.5);
}
.catalog-text-center {
    text-align: center !important;
}
.catalog-title h3 {
    color: #0A4737;
}
.catalog-display-middle {
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border-radius: 25px;
}
.catalog-wide {
    letter-spacing: 4px;
}
.catalog-detail {
    background-color: transparent;
    width: 90%;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    font-family: pregular;
}
.catalog-detail hr {
    margin: auto;
    width: 40%;
    border-top: 1px dotted #8c8b8b;
    border-bottom: 1px dotted #fff;
    color: #ddd;
}
.catalog-detail-content {
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 0px 1.5em 1.5em 1.5em;
    background-color: #f5f8f7;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    padding-bottom: 5px;
}
.catalog-detail-item {
    display: flex;
    position: relative;
    border: 0px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    justify-content: space-between;
    height: 35px;
    font-size: 16.7px;
}
.catalog-detail-item div {
    border: 0px;
    padding: 0px;
    margin: 0px;
}
.catalog-detail-item>:nth-last-child(odd) {
    color: #B3B3B3;
    align-self: auto;
}
.catalog-detail details+details {
    margin-top: .5rem;
}
.catalog-detail summary {
    list-style: none;
    border: 1px solid transparent;
    padding: .75em 1.5em;
    cursor: pointer;
    position: relative;
    padding-left: calc(1.75rem + .75rem + .75rem);
    color: #CD113B;
    border-radius: 13px;
    background-color: #f5f8f7;
}
.catalog-detail summary::-webkit-details-marker {
    display: none;
}
.catalog-detail summary:before {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1.75rem;
    content: "+";
    width: 2.75rem;
    height: 2.75rem;
    background-color: transparent;
    color: #CD113B;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    font-size: 25px;
}
.catalog-detail summary div {
    border-bottom: 0px;
}
.catalog-detail details[open] summary {
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px;
    position: relative;
}
.catalog-detail details[open] summary div {
    border-bottom: 1px solid #ced0ce;
    border-bottom-color: (255 255 255, 16%) !important;
    border-image-slice: 1;
    padding: 5px 10px 0px 10px;
    width: 100%;
}
.catalog-detail details[open] summary:before {
    content: "×";
}
.catalog-detail summary:hover {
    background-color: #f5f8f7;
}
/* <!--  Mobile Css --> */
@media only screen and (max-width: 1023px) {
    .catalog-detail-content {
        flex-direction: row;
    }
    .catalog-detail-item {
        /* flex-direction: column; */
        line-height: auto;
        justify-content: space-between;
    }
    .catalog-detail-item:nth-child(2) {
        order: -1;
    }
    .catalog-header {
        height: auto;
    }
    .catalog-wraper {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin: 60px 0px 60px 0px;
    }
    .catalog-box {
        flex: 0 0 auto;
        min-width: 15rem;
        max-width: 15rem;
    }
}
/* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
@media (min-width:320px) {
    .catalog-box {
        flex: 0 0 auto;
        min-width: 20rem;
        max-width: 20rem;
    }
}
/* smartphones, Android phones, landscape iPhone */
@media (min-width:480px) {
    .catalog-box {
        flex: 0 0 auto;
        min-width: 20rem;
        max-width: 20rem;
    }
}
/* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
@media (min-width:600px) {
    .catalog-box ,.catalog-wraper div:nth-child(2){
        flex: 0 0 auto;
        min-width: 25rem;
        max-width: 25rem;
    }   
}
@media (max-width:700px) {
    .catalog-detail-content {
        flex-direction: row;
    }
    .catalog-detail-item {
        line-height: auto;
        justify-content: space-between;
    }
    .catalog-header {
        width: 100%;
        order: 2;
        height: 100%;
        display: block;
    }
    .catalog-wraper {
        flex-direction: column;
    }
    .catalog-box,.catalog-wraper div:nth-child(2) {    
        min-width: 20rem;
        height: 200px;
        max-width: 17rem;
    }
    .catalog-text-h1{
        font-size: 50px;
    }
    .catalog-text-h5{
        padding: 0px;
    }
    .catalog-text-h3{
        top: 30%;
        padding-right: 50%;
    }
    .text-scaling{
        display: inline-block;
        transform:unset;
        /* Safari and Chrome */
        -webkit-transform:unset;
        /* Firefox */
        -moz-transform: unset;
        /* IE 9+ */
        -ms-transform: unset;
        /* Opera */
        -o-transform:unset;
    }
}
/* tablet, landscape iPad, lo-res laptops ands desktops */
@media (min-width:801px) {
    .catalog-box  {
        flex: 0 0 auto;
        min-width: 25rem;
        max-width: 25rem;
    }
}
/* big landscape tablets, laptops, and desktops */
@media (min-width:1025px) {
    .catalog-box {
        flex: 0 0 auto;
        min-width: 20rem;
        max-width: 20rem;
    }
    .catalog-wraper div:nth-child(2) {
        min-width: 25rem;
      }  
}
/* hi-res laptops and desktops */
@media (min-width:1281px) {
    .catalog-box {
        flex: 0 0 auto;
        min-width: 25rem;
        max-width: 25rem;
    }
    .catalog-wraper div:nth-child(2) {
        min-width: 30rem;
      }
}