@font-face {
  font-family: "Peyda";
  src: url("../assets/PeydaWeb-Regular.woff") format("woff");
  font-weight: 300;
}

@font-face {
  font-family: "Peyda";
  src: url("../assets/PeydaWeb-Medium.woff") format("woff");
  font-weight: 500;
}

@font-face {
  font-family: "Peyda";
  src: url("../assets/PeydaWeb-Bold.woff") format("woff");
  font-weight: 700;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: peyda;
}
.introduction__container {
  padding: 0 140px;
  padding-top: 90px;
}
.introduction {
  background-color: #fed71d;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 350px;
  padding: 0 10px;
  border-radius: 84px;
}
.introduction__image-container {
  width: 28%;
}
.introduction__image {
  width: 425px;
  position: relative;
  bottom: 42px;
}
.introduction__description {
  width: 72%;
  padding-left: 20px;
}
.introduction__title {
  font-size: 35px;
  color: #f51663;
}
.introduction__text {
  font-size: 25px;
  line-height: 2;
  margin-bottom: 0;
}
@media screen and (max-width: 1817px) {
  .introduction {
    height: 320px;
  }
  .introduction__image {
    width: 360px;
    bottom: 25px;
  }
  .introduction__title {
    font-size: 30px;
    margin: 10px 0;
  }
  .introduction__text {
    font-size: 22px;
    line-height: 2;
  }
}
@media screen and (max-width: 1633px) {
  .introduction__container {
    padding: 0 90px;
    padding-top: 60px;
  }
  .introduction {
    height: 290px;
  }
  .introduction__image {
    width: 320px;
    bottom: 18px;
  }
  .introduction__image-container {
    width: 26%;
  }
  .introduction__description {
    width: 74%;
  }
  .introduction__title {
    font-size: 28px;
  }
  .introduction__text {
    font-size: 20px;
  }
}
@media screen and (max-width: 1297px) {
  .introduction {
    border-radius: 60px;
  }
  .introduction__container {
    padding: 0 90px;
    padding-top: 50px;
  }
  .introduction__image {
    width: 310px;
    bottom: 12px;
  }
  .introduction__image-container {
    width: 29%;
  }
  .introduction__description {
    width: 71%;
  }
  .introduction__title {
    font-size: 26px;
  }
  .introduction__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 1133px) {
  .introduction__container {
    padding: 0 50px;
    padding-top: 50px;
  }
  .introduction {
    height: 250px;
  }
  .introduction__image {
    width: 270px;
    bottom: 12px;
  }
  .introduction__image-container {
    width: 32%;
  }
  .introduction__description {
    width: 68%;
  }
  .introduction__text {
    font-size: 16px;
    line-height: 1.8;
  }
}
@media screen and (max-width: 866px) {
  .introduction {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 480px;
    border-radius: 40px;
  }
  .introduction__image {
    width: 240px;
    bottom: 30px;
  }
  .introduction__title {
    font-size: 20px;
    margin-top: 0;
  }
  .introduction__image-container {
    text-align: center;
    width: 100%;
  }
  .introduction__description {
    width: 100%;
    position: relative;
    padding: 0 20px;
    top: -20px;
  }
  .introduction__text {
    line-height: 1.8;
    font-size: 18px;
  }
}
@media screen and (max-width: 700px) {
  .introduction {
    height: 500px;
  }
  .introduction__image {
    width: 200px;
    bottom: 50px;
  }
  .introduction__description {
    position: relative;
    top: -40px;
  }
}
@media screen and (max-width: 530px) {
  .introduction__container {
    padding: 0 20px;
    padding-top: 50px;
  }
  .introduction {
    height: 500px;
  }
  .introduction__image {
    width: 180px;
    bottom: 50px;
  }
  .introduction__text {
    font-size: 16px;
  }
}
@media screen and (max-width: 450px) {
  .introduction {
    height: 535px;
  }
}
