@font-face {
    font-family: peyda;
    src: url(../assets/PeydaWeb-Regular.woff),
         url(../assets/PeydaWeb-Medium.woff),
         url(../assets/PeydaWeb-Bold.woff);
}
:root{
    --pink-color: #F51663;
}
body{
    font-family: peyda;
    direction: rtl;
    margin: 0;
}
li{
    list-style-type: none;
}
.show{
    display: inline-block;
}
.wish-section{
    width: 80%;
    padding: 35px 0;
    margin: 0 auto;
}
.wish-title{
    font-weight: 500;
    text-align: center;
}
.wish-description{
    width: 75%;
    margin: 0 auto;
    text-align: justify;
}
.wish-list-section{
    margin: 50px;
    position: relative;
    display: flex;
    justify-content: space-evenly;
}
.wish-list-section ul{
    padding: 0;
}
.wish-list-btn{
    all: unset;
    width: 80%;
    padding: 12px;
    background-color: rgb(233, 233, 233);
    border-radius: 7px;
    cursor: pointer;
    margin: 0 auto;
    transition: transform .5s;
    margin-bottom: 15px;
    text-align: center;
}
.wish-list-btn:hover{
    background-color: rgb(215, 215, 215);
}
.active-btn{
    background-color: var(--pink-color);
    box-shadow: 3px 5px 8px -2px #f8a3c1;
    color: #ffffff;
    transform: scale(1.2, 1.1);
}
.no-hover{
    pointer-events: none;
}
#items{
    width: 30%;
}
#right-items , #left-items{
    width: 20%;
}
#right-items{
    text-align: left;
}
#left-items{
    text-align: right;
}
#right-items li , #left-items li{
    margin: 130px 0 0 0;
    max-width: 150px;
    text-align: center;
}


@media screen and (max-width:1200px){
    .wish-list-section{
        justify-content: space-between;
    }
}
@media screen and (max-width:950px){
    .wish-list-section{
        flex-direction: column;
    }
    #items{
        width: 80%;
        margin: 0 auto;
    }
    .wish-list-btn{
        width: 100%;
    }
    #right-items, #left-items{
        width: 100%;
        margin-right: 20%;
    }
    #right-items li , #left-items li{
        margin: 12px 0;  
        max-width: 350px; 
        text-align: right;
    }
}